#!/bin/sh
mysleep="11"
# exmaple for ntrino-hd
if [ -e /etc/.nhd ] && [ ! -e /etc/.nhd2; then
	myapp="/path/to/app -c /path/to/configapp"
	(sleep $mysleep; "$myapp") &
fi

# example for ntrino-hd2
if [ -e /etc/.nhd ] && [ -e /etc/.nhd2; then
	myapp="/path/to/app -c /path/to/configapp"
	(sleep $mysleep; "$myapp") &
fi

# example for vdr
if [ -e /etc/.nhd ] && [ -e /etc/.start_vdr; then
	myapp="/path/to/app -c /path/to/configapp"
	(sleep $mysleep; "$myapp") &
fi
exit

